{% extends "layout.twig" %}

{% block main %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <div>
            <h1 class="pb-5">Error {{ _params.code }}: {{ _params.message }}</h1>

                 {{ dump(_params.routes )}}

            <p>Availables pages:</p>
            <ul class="list-inside list-disc">
            {% for route in _params.routes %}
                    <li><a href="{{ app_subdir ~ route.route }}">{{ route.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}